riscv32-esp-elf-gcc8_4_0-esp-2021r2-patch5-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
riscv32-esp-elf-gcc8_4_0-esp-2021r2-patch5-linux-arm64.tar.gz filter=lfs diff=lfs merge=lfs -text
riscv32-esp-elf-gcc8_4_0-esp-2021r2-patch5-linux-armel.tar.gz filter=lfs diff=lfs merge=lfs -text
riscv32-esp-elf-gcc8_4_0-esp-2021r2-patch5-linux-i686.tar.gz filter=lfs diff=lfs merge=lfs -text
riscv32-esp-elf-gcc8_4_0-esp-2021r2-patch5-macos.tar.gz filter=lfs diff=lfs merge=lfs -text
riscv32-esp-elf-gcc8_4_0-esp-2021r2-patch5-macos-arm64.tar.gz filter=lfs diff=lfs merge=lfs -text
riscv32-esp-elf-gcc8_4_0-esp-2021r2-patch5-win32.zip filter=lfs diff=lfs merge=lfs -text
riscv32-esp-elf-gcc8_4_0-esp-2021r2-patch5-win64.zip filter=lfs diff=lfs merge=lfs -text
xtensa-esp32-elf-gcc8_4_0-esp-2021r2-patch5-win32.zip filter=lfs diff=lfs merge=lfs -text
xtensa-esp32-elf-gcc8_4_0-esp-2021r2-patch5-win64.zip filter=lfs diff=lfs merge=lfs -text
ESP32_Based_Boards-1.0.0.zip filter=lfs diff=lfs merge=lfs -text
ESP32_Based_Boards-1.1.0.zip filter=lfs diff=lfs merge=lfs -text
